<footer class="footer">
  <div class="footer__container">
    <section class="footer__copy">
      <p>Sense5 &copy; 2021</p>
    </section>
    <section class="footer__linksContainer">
      <a href="./index.html#team" title="Equipo" class="footer__link">EQUIPO</a>
      <a
        href="./index.html#adalabers"
        title="Quienes Somos"
        class="footer__link"
        >QUIÉNES SOMOS</a
      >
      <a href="./contact.html" title="Contacto" class="footer__link"
        >CONTACTO</a
      >
    </section>
    <section class="footer__logo">
      <a href="https://adalab.es/" target="_blank" title="Adalab">
        <img
          src="./assets/images/logo-adalab.svg"
          alt="logo-Adalab"
          class="footer__logoImg"
      /></a>
    </section>
  </div>
</footer>
