<header class="header">
  <a class="title" href="./index.html">
    <h1 class="h1">
      <img
        src="assets/images/logo-sense-5-horizontal-invert.png"
        alt="logo-sense-5-invert"
        title="Sense5"
      />
    </h1>
  </a>
  <div class="links">
    <a href="./index.html#team" title="Equipo" class="text-link">Equipo</a>
    <a href="./index.html#adalabers" title="Quienes Somos" class="text-link"
      >Quienes somos</a
    >
    <a href="./contact.html" title="Contacto" class="text-link">Contacto</a>
  </div>
</header>
